.header {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;

  .count {
    margin-bottom: 30px;
  }
}

.table-wrapper {
  overflow-x: auto;
}
